<article id="about">
	<div class="row">
		<div class="col-md-7">
			<div class="about-img">
				<img data-src="https://i.ytimg.com/vi/RgjjqAJxSgk/mqdefault.jpg" />
			</div>
		</div>
	</div>
	<p>
	<i>About</i><br />
	This is where an About page would go.
	</p>
	</div> <!-- /.row-fluid -->
</article>
