<article id="about">
	<!--<div class="row">
		<div class="col-md-7">
			<div class="about-img">
				<img data-src="img/Mandiberg-LiveStudy-Screenshot01.jpg" />
			</div>
		</div>
	</div>-->
	<p>
	<em>Live Study</em><br />
	by Michael Mandiberg<br />
	</p>
	<div class="row">
	<div class="col-md-7">
	<p>
	Michael Mandiberg is painting portraits of all the assistants, apprentices, and consultants who have ever worked in their studio; <em>Live Study</em> hosts live streams of the artist’s painting sessions. This durational performance, which will be documented in hour-long videos, will continue for as long as it takes for Michael to make over 120 paintings of the 60+ people who have helped them sustain their art practice for the past two decades. By the time <em>Live Study</em> is finished, this website will contain thousands of videos. 
	</p>
	<p>

	If Michael’s paintings serve to make the hidden labor of their studio assistants visible, <em>Live Study</em> puts the work of their own artistic production (and the attendant learning curves, frustrations, and failures) on full view. Unlike typical painting demos uploaded to YouTube, these videos won’t be tutorials demonstrating the artist’s mastery. Instead, <em>Live Study</em> documents a process of learning and devotion&mdash;and a mode of creation that, despite being performed by a solitary artist, is deeply networked.
	</p>
	<p>

	<em>Live Study</em> was commissioned in 2019 by the Whitney Museum of American Art for its Artport website. William Powhida, Peter Rostovsky, and Dannielle Tegeder provided guidance on painting techniques. This website uses code originally written by Ben Lerchin for Print Wikipedia. The College of Staten Island, and <a href="https://dennydimingallery.com/">Denny Dimin Gallery</a> provided additional support.	</p>
	<p>
	For more information about <em>Live Study</em>, please visit the <a href="https://whitney.org/exhibitions/live-study" style="text-decoration: underline;">Artport</a>. For more about Michael Mandiberg please visit <a href="http://www.mandiberg.com/" style="text-decoration: underline;">Mandiberg.com</a>.
	</p>
	<!--
	<div class="panel panel-default">
		<div class="panel-body">
			<a href="#/credits">Credits</a>
		</div>
	</div>
	-->

	</div> <!-- /.col-lg-7 -->
	<div class="sidebar-images col-md-5">
		<div class="about-img">
			<img data-src="img/Mandiberg-LiveStudy-Screenshot01.jpg" />
		</div>
		<div class="about-img">
			<img data-src="img/Mandiberg-LiveStudy-Screenshot03.jpg" />
		</div>
		<div class="about-img">
			<img data-src="img/Mandiberg-LiveStudy-Screenshot04.jpg" />
		</div>
	</div>
	</div> <!-- /.row-fluid -->
</article>
