<div class="book"
	data-book-name="<%= c.title %>"
	style="width: <%= g.c.ITEM_WIDTH %>px;
				margin: 0px <%= g.c.ITEM_MARGIN/2 %>px <%= g.c.ITEM_MARGIN %>px
								<%= g.c.ITEM_MARGIN/2 %>px;">
	<a href="https://www.youtube.com/watch?v=<%= c.videoId %>" target="_blank">
		<div class="book-thumb" style="background-image:url(<%= c.thumbnail %>);">
		</div>
		<div class="book-data">
				<h4 class="book-name">
					<%= c.title %>
				</h4>
		</div>
	</a>
</div>
