body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #ffffff;
	color: #414141;
	font-family: 'Roboto Slab', serif;
}
body a,
body a:hover,
body a:visited,
body a:active {
	color: #414141;
}
[data-current-template="about"].pw-container.pw-width,
[data-current-template="credits"].pw-container.pw-width {
  min-width: 320px;
}
.pw-container {
  position: relative;
  margin: 0px auto;
  width: auto;
  overflow: hidden;
}
.scroller {
  margin: 0px;
  float: left;
  min-height: 100vh;
}
#list-region {
  width: auto;
  overflow: auto;
  margin-left: -10px;
  margin-right: -10px;
}
article {
  line-height: 28px;
  font-size: 18px;
  /*max-width: 670px;*/
}
article p {
  margin-bottom: 24px;
}
.about,
.credits {
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.about-img {
  width: 100%;
  margin-bottom: 10px;
}
.about-img img {
  width: 100%;
  height: auto;
}
.panel-legal {
  max-width: 580px;
}
.panel-legal p {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}
#pw-mob-title {
  padding-left: 0px;
}
nav.navbar {
	border: 0;
  background-color: #a4a4a4;
  color: #fff;
  font-family: "Raleway", serif;
  font-size: 18px;
}
nav.navbar a.navbar-brand {
  color: #000;
}
nav.navbar .navbar-nav>li > a {
  color: #464646;
  padding-left: 20px;
  padding-right: 10px;
}
.navbar-header {
  margin-left: 10px;
}
.pw-wrap {
  position: relative;
  width: 100%;
  height: 50px;
}
.navbar-text {
  position: relative;
  margin: 0px auto;
  float: none;
}
nav.navbar .navbar-nav > .active > a,
nav.navbar .navbar-nav .active > a:focus,
nav.navbar .navbar-nav .active > a:hover {
	background-color: inherit;
  color: #f2f2f2;
}

.book {
  float: left;
  overflow: hidden;
  background-color: white;
}
.book .book-data {
  padding: 5px 10px;
}
.book-thumb {
	height: 0;
	padding-bottom: 56.25%;
	overflow: visible;
}
.book img {
  width: 100%;
  height: 100%;
  background-color: white;
}
@media screen and (max-width: 481px) {
  nav.navbar .pw-width {
    width: 100% !important;
  }
}

.modal {
  background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
  display: flex;
	flex-direction: column;
	justify-content: center;
}

.modal-header {
  font-size: 1.2em;
  min-height: 30px;
  border: none;
  padding: 0;
}

.modal-content {
	background-color: transparent;
	border: 0;
	border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  width: min-content;
}

.modal-body {
	padding: 0;
}

.modal-body > * {
  z-index: 2;
  position: relative;
}

.modal-body .modal-spinner {
  clear: left;
  margin: 0px auto;
  text-align: center;
  position: absolute;
  top: 46%;
  left: 48%;
  z-index: 0;
}

.modal-close {
  background: none;
	color: #fff;
  float: right;
  border: none;
  box-shadow: none;
  font-family: sans-serif;
  padding: 5px;
}
